

body{
  text-align: center;
  margin-top:0;
  margin-left:0;
}
h1{
  font-size: 40px;
  margin-top:0;
  width:20%;
  position:relative;
  left:0%;
  top:50px;
}
h4{
  position:absolute;
  bottom:700px;
right:735px;
top:100px;
font-size:2.5rem;
font-weight: normal;
}
h3{
  color:#11999E;
}
a{
  color:#11999E;
}

.Bottom-Container{
  background-color:#f6830f;
  width:1883px;
  height:500px;
  top:0px;
  border:solid 10px;
}
.Middle-Container{
}
.top-container{
}

.top-class{
  position: absolute;
  right:35%;
}


.bottom-class{
  position:absolute;
  left:31%;
  bottom:730px;

}
.skill-row{
  width:50%;
  width:50% auto 50% auto;
  margin:100px auto 100px auto;
  line-height:2;
text-align: left;
}
.eye{
  width:10%;
  float: left;
  margin-right:30px;
}
.parabolic-dishes{
  width:10%;
  float:right;
  margin-right:30px;
}
