body{
  background-color:#ffc7c7;
}
h1{
  color:#931a25;
}
h2{
  color:#ac4b1c;
}
u{color:#931a25;
}
p{
  color:#1aa6b7;
  font-size:180%;
}
table{
  color:#1d2d50;
  font-size:130%;
}
ol{
  font-size:130%;
}
hr{background-color:#ffc7c7;
border-style:none;
border-top-style:dotted;
border-color:grey;
border-width:10px;
width:5%;
}
